<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="../favicon.ico"> 
	<meta name="description" content="MD Shareのテンプレートページ。">
	<!--SNS用設定-->
	<meta property=”og:title” content="MD Share" />
	<meta property=”og:image” content="https://mdshare.cf/favicon.png">
	<meta property=”og:description” content=”MD Shareのテンプレートページ。” />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="mdShareTemplate.css">
	<title>Templates - MD Share</title>
</head>
<body>
	<div id="header">テンプレート一覧</div>
	<div id="list">
	<small>クリックすると、編集画面に移動します。</small><br><br>
		<a href="../?e=t&q=DwQgtGiwcogZGFYMgXCYMCVB2DIKSVAmaYQAZAfZoWQZDbxoBIMg9gyAqDIFeBgjK6DWDIJYMgYgyB6DIID-EAfAFADEPXABMEBjDIGeGQOsMgG4ZO-QHBmgU9NkgCLlAWdrd+AbUAlDIE2GYYAmGQLAqAXQ6r+gMbTAECqAWDUACRh0DgDPcCjmYAAGQI7mgTlNAtOaBj5RO8+QCkGQEXEjgAdACYABhi+QAUGQEiGQBEGQCAGfx4+ZRMAH0AhM0Bk1OzAUMVATu1sjmyISrBy7IBOAC4Y7MdXT19qSxTaxoBGAFYW+0BqhkBLhkAqhkBGhj5HQHS9QHMGManmWt6Ipqih8UBOhl1R4XnAHjNAe4zuit6AZg3swCaGQB+GQG6GYWpAGQjAeQZGM+zegDZrwGPIwDGpuVTHxAJkKgGAAjiAfwZAMkMsHmgF9LQDqDIAghnozEAp3KAKDlmBwgA" data-rub="あしたのよてい">明日の予定</a>
	</div>
</body>
</html>