<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="../favicon.ico"> 
	<meta name="description" content="MD Shareのテンプレートページ。">
	<!--SNS用設定-->
	<meta property=”og:title” content="MD Share" />
	<meta property=”og:image” content="https://mdshare.cf/favicon.png">
	<meta property=”og:description” content=”MD Shareのテンプレートページ。” />
	<link rel="stylesheet" href="mdShareTemplate.css">
	<title>Templates - MD Share</title>
</head>
<body>
	<div id="header">テンプレート一覧</div>
	<div id="list">
	<small>クリックすると、編集画面に移動します。</small><br><br>
		<a href="../?e=t&q=DwQgtGiwcogZGFYMgXCYMCVB2DIKSVAmaYQAZAfZoWQZDbxoBIMg9gyAqDIFeBgjK6DWDIJYMgYgyB6DIID-EAfAFCgRgcDeHAJAAiAC4BLUQBsApsIBcwwGMMgZ4ZA6wyAbhmCA4M0CnpskARcoCztNsIA0Q4QEMArqIAWAewBOC4QGUXdxwAIACs6OAFYyAMaiwhwAvhw8nADEifE+wKqaCT56hkYciT4A2oAlDICbDCqAEwyAsCoAuhy5eYBjaYAQKoAsGoACRhyA4AwdgKOZgAAMgI7mgJymgLTmgMfKtUk+gFIMgIuJHAA6AEwADKs+gAoMgJEMgCIMgEAME3nGtQA+gEJmgMmpx4ChioCd2sccxxCPYPfHAJzyq8ddfUNj1E1dq8PgBGACs3w6gGqGQCXDIAqhkAjQw+LqAdL1AOYMsMRzFeIMWn2WkI0gE6GMowlRowA8ZoB7jKBDxBAGZ8cdAE0MgB+GQDdDCpqIAZCMA8gyMWnHEEANiZgGPIwDGpvc6slAJkKgGAAjiAfwZAMkMsDRgF9LQDqDIAghnozEAp3KAKDlmBwgA" data-rub="あしたのよてい">明日の予定</a>
	</div>
</body>
</html>