#doc.dark,
#preview.dark{
    background:#3c3c3c;
    color:#eee;
}

#preview.dark th,
#preview.dark td,
#doc.dark th,
#doc.dark td {
    border: solid 1px #eee;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

table tr:nth-child(even) {
    background: #5c5c5c;
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

#preview.dark h1,
#doc.dark h1 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#preview.dark h2,
#doc.dark h2 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#preview.dark h3,
#doc.dark h3 {
    border-left: 8px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#preview.dark code,
#doc.dark code{
    border-radius:3px;
}

#preview.dark code:not(.hljs),
#doc.dark code:not(.hljs){
    background:#f8f8f8;
    padding-left:10px;
    padding-right:10px;
}

#preview.dark div.docIndex,
#doc.dark div.docIndex{
    background:#4c4c4c;
    border-radius:4px;
    margin:10px;
    border:1px solid #8c8c8c;
}

#preview.dark div.docIndex b,
#doc.dark div.docIndex b{
    font-size:16pt;
}

#preview.dark div.docIndex a,
#doc.dark div.docIndex a{
    display:block;
    background:#000;
    border-top:1px solid #aaa;
    text-decoration: none;
    color:#000;
    padding: 10px;
    color:#fff;
    font-size:12pt;
}

#preview.dark div.docIndex a.h1,
#doc.dark div.docIndex a.h1{
    padding-left:10px;
    font-weight: bold;
    background:#1c1c1c;
}

#preview.dark div.docIndex a.h2,
#doc.dark div.docIndex a.h2{
    padding-left:20px;
    background:#2c2c2c;
}

#preview.dark div.docIndex a.h3,
#doc.dark div.docIndex a.h3{
    padding-left:30px;
    background:#3c3c3c;
}

#preview.dark div.docIndex a.h4,
#doc.dark div.docIndex a.h4{
    padding-left:40px;
    background:#4c4c4c;
}

#preview.dark div.docIndex a.h5,
#doc.dark div.docIndex a.h5{
    padding-left:50px;
    background:#5c5c5c;
}

#preview.dark div.docIndex a.h6,
#doc.dark div.docIndex a.h6{
    padding-left:60px;
    background:#6c6c6c;
}

#preview.dark blockquote,
#doc.dark blockquote {
    border-left: 7px solid #ccc;
    padding-left: 10px;
    margin-left: 0px;
    color: #bbb;
}

#preview.dark hr,
#doc.dark hr{
    height:1px;
    background-color:#6c6c6c;
    border:none;
}

#preview.dark a,
#doc.dark a{
    color:#eee;
}

/*他サイトで表示するコメントを非表示にする*/
#preview.dark span.showOnOther,
#doc.dark span.showOnOther,
#presentationView span.showOnOther{
    display: none;
}

/*スライドの表示用*/

#presentationView th,
#presentationView td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

#presentationView table tr:nth-child(even) {
    background: #ddd;
}

#presentationView table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

#presentationView * {
    font-size: 16pt;
}

#presentationView h1{
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 32pt;
}

#presentationView h2{
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 24pt;
}

#presentationView h3{
    border-left: 8px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 20pt;
}

#presentationView h4{
    font-size: 18pt;
}

#presentation h5{
    font-size: 14pt;
}

#presentationView h6{
    font-size: 12pt;
}

#presentationView blockquote{
    border-left: 7px solid #ccc;
    padding-left: 10px;
    color: #7c7c7c;
}

#presentationView .mjx-chtml span{
    font-size:24pt;
}
