/*
	MD Share Lite
	White Style
*/

body {
    background: #eee;
    color: #000;
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
}

::selection {
    background: #009e8f;
    color: #fff;
}

/*Firefox*/
::-moz-selection {
    background: #009e8f;
    color: #fff;
}

#header {
    position: fixed;
    background: #ddd;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    z-index: 1;
}

#doc {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 80px;
    width: calc(100% - 10px);
    max-width: 750px;
    /*height: calc(100% - 60px);*/
    overflow: auto;
    background: #fff;
}

#scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80px;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    display: none;
}

#scrollToTop.neverShow {
    display: none !important;
}


#docTitle {
    font-size: 14pt;
    font-weight: bold;
    display: block;
    width: calc(100% - 180px);
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#author {
    font-size: 10pt;
    color: #4c4c4c;
    display: block;
    width: calc(100% - 180px);
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#liteDescription {
    font-size: 10pt;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: #4c4c4c;
    width: 160px;
}

#liteDescription a {
    color: #4c4c4c;
}

/*選択不可の設定*/
#header {
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*マークダウン設定*/
#doc th,
#doc td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

table tr:nth-child(even) {
    background: #ddd;
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

#doc h1 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#doc h2 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#doc h3 {
    border-left: 8px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#doc code {
    border-radius: 3px;
}

#doc code:not(.hljs) {
    background: #f8f8f8;
    padding-left: 10px;
    padding-right: 10px;
}

#doc div.docIndex {
    background: #eee;
    border-radius: 4px;
    margin: 10px;
}

#doc div.docIndex b {
    font-size: 16pt;
}

#doc div.docIndex span {
    display: block;
    background: #ddd;
    border-top: 1px solid #aaa;
    text-decoration: none;
    color: #000;
    padding: 10px;

    font-size: 12pt;
    cursor: pointer;
}

#doc div.docIndex span.h1 {
    padding-left: 10px;
    font-weight: bold;
    background: #fafafa;
}

#doc div.docIndex span.h2 {
    padding-left: 20px;
    background: #eaeaea;
}

#doc div.docIndex span.h3 {
    padding-left: 30px;
    background: #dadada;
}

#doc div.docIndex span.h4 {
    padding-left: 40px;
    background: #cacaca;
}

#preview div.docIndex span.h5,
#doc div.docIndex span.h5 {
    padding-left: 50px;
    background: #bababa;
}

#doc div.docIndex span.h6 {
    padding-left: 60px;
    background: #aaa;
}

#doc blockquote {
    border-left: 7px solid #ccc;
    padding-left: 10px;
    margin-left: 0px;
    color: #7c7c7c;
}

#doc hr {
    height: 1px;
    background-color: #6c6c6c;
    border: none;
}

/*他サイトで表示するコメントを非表示にする*/
#doc span.showOnOther {
    display: none;
}

/*印刷用*/
@media print {

    #header,
    .printDelete {
        display: none;
    }

    #doc {
        position: absolute;
        width: calc(100% - 5px);
        max-width: 100%;
        height: calc(100% - 65px);
        overflow: auto;
        top: 0;
        left: 0;
        overflow: visible;
        box-shadow: none;
        padding: 0;
        margin: 0
    }

}
