/*
	MD Share
	White Style
*/
body {
    background: #eee;
    color: #000;

    font-family: meiryo;
}
::selection {
    background:#009e8f;
    color: #fff;
}

/*Firefox*/
::-moz-selection {
    background: #009e8f;
    color: #fff;
}

#presenSave{
    width:1920px;
    height:1080px;
}
#header {
    position: fixed;
    background: #ddd;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    z-index: 1;
}

#menuButton {
    position: absolute;
    top: 0;
    right: 5px;
    height: 50px;
}

#doc {
    position: absolute;
    top: 10px;
    left: 0px;
    right:0px;
    margin:auto;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:80px;
    width: calc(100% - 10px);
    max-width:750px;
    /*height: calc(100% - 60px);*/
    overflow: auto;
    background: #fff;
}

#scrollToTop{
    position: absolute;
    bottom:80px;
    right:20px;
    width:40px;
    height:40px;
    font-size:30px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    border-radius: 5px;
    text-align: center;
    display: none;
}

#scrollToTop.neverShow{
    display: none !important;
}

#new {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #eee;
    display: none;
}

#new.show {
    display: block;
    z-index: 3;
    animation: zoomIn 0.2s ease 0s 1 alternate none running;
}

#new.show + #doc {
    overflow: hidden;
}

#windowBack {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    color: #fff;
}

#windowBack.show {
    display: block;
}

#edit {
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    height: calc(100% - 3em - 40px);
    border: none;
}

#editor {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 10px - 70px);
    height: calc(100% - 10px);
    resize: none;
}

#mdSymbols {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    overflow: auto;
}

#mdSymbols button {
    width: 100%;
    height: 40px;
    background: #ddd;
    border: none;
    font-size: 9pt;
}

#preview {
    position: absolute;
    top: 2em;
    right: 0;
    width: 100%;
    height: calc(100% - 3em - 40px);
    background: #fff;
    border: none;
    overflow: auto;
    display: none;
}

#save {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ddd;
    width: 100%;
    height: 40px;
    text-align: center;
}

#saveLink {
    position: absolute;
    top: 0;
    left: 14em;
    width: calc(100% - 15em);
    height: 30px;
    background: #ddd;
    border: 3px solid #aaa;
}

#save button {
 width:calc(100% / 5);
 max-width:150px;
 height:37px;
 border:none;
 border-left:1px solid #bbb;
 border-right:1px solid #bbb;
 background:#ddd;
 font-size:14pt;
}


#newWindowClose {
    position: absolute;
    top: 0;
    right: 0;
    width: 7em;
    height: 2em;
    background: #aa0000;
    border: 3px solid #ff0000;
    color: #fff;
}

#docTitle {
    font-size: 14pt;
    font-weight: bold;
}

#author {
    font-size: 10pt;
    color: #4c4c4c;
}

#message{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    margin:auto;
    width:calc(100% - 10px);
    min-height:2em;
    max-width:500px;
    padding:5px;
    background:rgba(0,0,0,0.8);
    z-index: 5;
    border-radius:10px;
    transition-duration: 0.2s;
    color:#fff;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

#message.show{
    opacity: 1;
}

#presentation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 3;
    display: none;
}

#presentation.show {
    display: block;
}

#presentation #presentationControl {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    opacity: 0.2;
    z-index: 2;
}

#presentation #presentationControl:hover {
    opacity: 1;
}

#presentation #presentationControl button {
    background: #3c3c3c;
    color: #fff;
    border: #8c8c8c 1px solid;
    height: 35px;
    width: 5em;
}

#presentationView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    background: #fff;
}

#presenScreenShot{
    position: absolute;
    top: 0;
    left: 0;
    z-index:0; 
    background: #fff;
}

#shareWindow {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    z-index: 4;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}

#shareWindow.show {
    display: block;
}

#shareWindow a {
    display: block;
    width: calc(100% - 10px);
    max-width:500px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin:auto;
    border-radius: 50px;
}

#copyRawButton,
#copyShortButton,
#shareCancel {
    background: rgba(100, 100, 100, 0.8);
    border-top:1px solid rgba(0,0,0,0.1);
}

#twitterButton {
    background: rgba(100, 200, 255, 0.8);
    border-top:1px solid #33aaff;
}

#lineButton {
    background: rgba(0, 200, 0, 0.8);
    border-top:1px solid #00dd00;
}

#fileOpenDialog{
    position: absolute;
    top:0;
    left:0;
    margin:auto;
    width:100%;
    height:100%;
    background:rgba(20,20,20,0.9);
    color:#fff;
    text-align: center;
    display: none;
    z-index:4;
}

#fileOpenDialog.show{
    display: block;
}

#fileOpenDialogClose{
    width:100%;
    max-width: 500px;
    height:50px;
    background:#a00;
    color:#fff;
    margin-top:50px;
    border:none;
}

#tools #editButton{
    display: none;
}
/*端末別設定*/
/*スマホ用*/
@media (max-width:600px) {

    #tools {
        position: fixed;
        top: 0px;
        right: 0px;
        height: calc(100% - 60px);
        width: 100%;
        background: rgba(200, 200, 200, 0.8);
        z-index: 2;
        transition-duration: 0.2s;
        overflow: auto;
    }

    #tools.close {
        opacity: 0;
        pointer-events: none;
    }

    #tools button {
        color: #000;
        height: 50px;
        width: 100%;
        background: #ddd;
        border: none;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }
    
    .md-tools{
        font-size:1.3em;
    }

    #tools button:active {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) inset;
    }

    #menuButton {
        background: none;
        border: none;
    }
    .md-menu{
        font-size:2em;
    }
}

/*PC用*/
@media (min-width:601px) {
    #tools {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 2;
    }

    #tools button {
        height: 60px;
        width: auto;
        background: none;
        border: none;
        border-left:1px solid #bbb;
        border-right:1px solid #bbb;
    }

    #menuButton {
        display: none;
    }
    .md-tools{
        font-size:1.8em;
    }
    .md-tools-text{
        display: none;
    }
}

/*スマホで横画面で入力しているとき*/
@media (max-height:160px) {
    #save {
        display: none;
    }

    #preview,
    #edit {
        height: calc(100% - 3em);
    }
}

/*選択不可の設定*/
#header,
#new label,
#tools{
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*マークダウン設定*/

#preview th,
#preview td,
#doc th,
#doc td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

table tr:nth-child(even) {
    background: #ddd;
}

table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

#preview h1,
#doc h1 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#preview h2,
#doc h2 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#preview h3,
#doc h3 {
    border-left: 8px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#preview code,
#doc code{
    border-radius:3px;
}

#preview code:not(.hljs),
#doc code:not(.hljs){
    background:#f8f8f8;
    padding-left:10px;
    padding-right:10px;
}

#preview div.docIndex,
#doc div.docIndex{
    background:#eee;
    border-radius:4px;
    margin:10px;
}

#preview div.docIndex b,
#doc div.docIndex b{
    font-size:16pt;
}

#preview div.docIndex a,
#doc div.docIndex a{
    display:block;
    background:#ddd;
    border-top:1px solid #aaa;
    text-decoration: none;
    color:#000;
    padding: 10px;
    
    font-size:12pt;
}

#preview div.docIndex a.h1,
#doc div.docIndex a.h1{
    padding-left:10px;
    font-weight: bold;
    background:#fafafa;
}

#preview div.docIndex a.h2,
#doc div.docIndex a.h2{
    padding-left:20px;
    background:#eaeaea;
}

#preview div.docIndex a.h3,
#doc div.docIndex a.h3{
    padding-left:30px;
    background:#dadada;
}

#preview div.docIndex a.h4,
#doc div.docIndex a.h4{
    padding-left:40px;
    background:#cacaca;
}

#preview div.docIndex a.h5,
#doc div.docIndex a.h5{
    padding-left:50px;
    background:#bababa;
}

#preview div.docIndex a.h6,
#doc div.docIndex a.h6{
    padding-left:60px;
    background:#aaa;
}

#preview blockquote,
#doc blockquote {
    border-left: 7px solid #ccc;
    padding-left: 10px;
    margin-left: 0px;
    color: #7c7c7c;
}

#preview hr,
#doc hr{
    height:1px;
    background-color:#6c6c6c;
    border:none;
}

/*他サイトで表示するコメントを非表示にする*/
#preview span.showOnOther,
#doc span.showOnOther,
#presentationView span.showOnOther{
    display: none;
}

/*スライドの表示用*/

#presentationView th,
#presentationView td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

#presentationView table tr:nth-child(even) {
    background: #ddd;
}

#presentationView table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

#presentationView * {
    font-size: 16pt;
}

#presentationView h1{
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 32pt;
}

#presentationView h2{
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 24pt;
}

#presentationView h3{
    border-left: 8px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 20pt;
}

#presentationView h4{
    font-size: 18pt;
}

#presentation h5{
    font-size: 14pt;
}

#presentationView h6{
    font-size: 12pt;
}

#presentationView blockquote{
    border-left: 7px solid #ccc;
    padding-left: 10px;
    color: #7c7c7c;
}

#presentationView .mjx-chtml span{
    font-size:24pt;
}

/*スクショ領域*/
#presenScreenShot{
    width:1920px;
    height:1080px;
}

#presenScreenShot th,
#presenScreenShot td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

#presenScreenShot table tr:nth-child(even) {
    background: #ddd;
}

#presenScreenShot table {
    border-collapse: collapse;
    /* セルの線を重ねる */
}

#presenScreenShot * {
    font-size: 30pt;
}

#presenScreenShot h1{
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 60pt;
}

#presenScreenShot h2{
    background: #3c3c3c;
    padding: 5px;
    color: #fff;
    font-size: 54pt;
}

#presenScreenShot h3{
    border-left: 8px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
    font-size: 48pt;
}

#presenScreenShot h4{
    font-size: 40pt;
}

#presenScreenShot h5{
    font-size: 36pt;
}

#presenScreenShot h6{
    font-size: 30pt;
}

#presenScreenShot blockquote{
    border-left: 7px solid #ccc;
    padding-left: 10px;
    color: #7c7c7c;
}

/*印刷用*/
@media print {

    #header,
    #tools,
    #save,
    #newWindowClose,
    #mdSymbol,
    .printDelete {
        display: none;
    }

    #doc {
        position: absolute;
        width: calc(100% - 5px);
        max-width: 100%;
        height: calc(100% - 65px);
        top: 0;
        left: 0;
        overflow: visible;
        box-shadow: none;
        padding:0;
        margin:0
    }


    #preview.show {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 3;
        border: none;
    }
}

/*keyframes*/
@keyframes zoomIn {
    0% {
        display: block;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
