#doc th,
#doc td {
    border: solid 1px;
    /* 枠線指定 */
    padding: 10px;
    /* 余白指定 */
}

table tr:nth-child(even) {
    background: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#doc h1 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#doc h2 {
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#doc h3 {
    border-left: 8px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-left: 5px;
}

#doc code {
    border-radius: 3px;
}

#doc code:not(.hljs) {
    background: #f8f8f8;
    padding-left: 10px;
    padding-right: 10px;
}

#doc div.docIndex {
    border-radius: 4px;
    margin: 10px;
}

#doc div.docIndex b {
    font-size: 16pt;
}

#doc div.docIndex span {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 3px;
}

#doc div.docIndex span.h1 {
    padding-left: 10px;
    font-weight: bold;
}

#doc div.docIndex span.h2 {
    padding-left: 20px;
}

#doc div.docIndex span.h3 {
    padding-left: 30px;
}

#doc div.docIndex span.h4 {
    padding-left: 40px;
}

#doc div.docIndex span.h5 {
    padding-left: 50px;
}

#doc div.docIndex span.h6 {
    padding-left: 60px;
}

#doc blockquote {
    border-left: 7px solid #ccc;
    padding-left: 10px;
    margin-left: 0px;
    color: #7c7c7c;
}

#doc hr {
    height: 1px;
    background-color: #6c6c6c;
    border: none;
}

/*他サイトで表示するコメントを非表示にする*/

#doc span.showOnOther,
#presentationView span.showOnOther {
    display: none;
}
