#doc h1 {
    background:#f7f7f7;
    border-left:5px solid #ffab66;
    border-bottom: 3px solid #ccc;
    padding-left: 5px;
}

#doc h2 {
    background: #f7f7f7;
    border-left:5px solid #ffab66;
    border-bottom: 3px solid #ccc;
    padding-left: 5px;
}

#doc h3 {
    background: #f7f7f7;
    border-left:5px solid #ffab66;
    border-bottom: 3px solid #ccc;
    padding-left: 5px;
}
/*
#doc code {
    border-radius: 3px;
}

#doc code:not(.hljs) {
    background: #f8f8f8;
    padding-left: 10px;
    padding-right: 10px;
}

#doc div.docIndex {
    background: #eee;
    border-radius: 4px;
    margin: 10px;
}

#doc div.docIndex b {
    font-size: 16pt;
}

#doc div.docIndex span {
    display: block;
    background: #ddd;
    border-top: 1px solid #aaa;
    text-decoration: none;
    color: #000;
    padding: 10px;

    font-size: 12pt;
    cursor: pointer;
}

#doc div.docIndex span.h1 {
    padding-left: 10px;
    font-weight: bold;
    background: #fafafa;
}

#doc div.docIndex span.h2 {
    padding-left: 20px;
    background: #eaeaea;
}

#doc div.docIndex span.h3 {
    padding-left: 30px;
    background: #dadada;
}

#doc div.docIndex span.h4 {
    padding-left: 40px;
    background: #cacaca;
}

#doc div.docIndex span.h5 {
    padding-left: 50px;
    background: #bababa;
}

#doc div.docIndex span.h6 {
    padding-left: 60px;
    background: #aaa;
}

#doc blockquote {
    border-left: 7px solid #ccc;
    padding-left: 10px;
    margin-left: 0px;
    color: #7c7c7c;
}

#doc hr {
    height: 1px;
    background-color: #6c6c6c;
    border: none;
}
/*
/*他サイトで表示するコメントを非表示にする*/
/*
#doc span.showOnOther,
#presentationView span.showOnOther {
    display: none;
}
*/
