th,td {
	border: solid 1px;
	/* 枠線指定 */
	padding: 10px;
	/* 余白指定 */
}

table {
	border-collapse: collapse;
	/* セルの線を重ねる */
}

h1 {
	border-bottom: 1px solid #aaa;
	padding-left: 5px;
}

h2 {
	background: #3c3c3c;
	padding: 5px;
	margin-right: 5px;
	color: #fff;
}

h3 {
	border-left: 8px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding-left: 5px;
}

blockquote{
	border-left: 7px solid #ccc;
	padding-left: 10px;
	color:#7c7c7c;
}